@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*theme color*/
/*anchor*/
/*media query*/
/*end*/
/*font variable*/
/*padding base*/
html {
  height: 100%;
}
body {
  height: 100%;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}
.full-body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.full-body .video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*sticker*/
/*border radius*/
.sticker {
  position: fixed;
  top: 2%;
  left: 0px;
  z-index: 999;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) {
  .sticker {
    width: 370px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticker {
    width: 320px;
  }
}
@media only screen and (max-width: 767px) {
  .sticker {
    width: 270px;
  }
}
.sticker .wrapper {
  position: relative;
  background: whitesmoke;
  min-height: 700px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.sticker .wrapper .heading {
  position: relative;
  width: 100%;
  background: #60212b url('b1.jpg') top left no-repeat;
  background-size: cover;
  min-height: 50px;
  border-top-right-radius: 10px;
  overflow: hidden;
  border-bottom: 1px #8f8164 solid;
}
.sticker .wrapper .heading #social-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 13px;
  color: #d9d7ac;
  z-index: 999;
}
.sticker .wrapper .heading .dark-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.sticker .wrapper .content {
  padding: 5px;
  height: 680px;
  overflow-y: scroll;
  background: #F5F5F5;
  border-bottom-right-radius: 10px;
}
.sticker .wrapper .content::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.sticker .wrapper .content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}
.sticker .wrapper .footer {
  height: 50px;
  width: 100%;
  border-bottom-right-radius: 10px;
  background: #60212b;
}
.sticker .wrapper .footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sticker .wrapper .footer ul li {
  float: left;
  padding: 5px;
}
.sticker .wrapper .footer ul.after:before,
.sticker .wrapper .footer ul.after:after {
  content: " ";
  display: table;
}
.sticker .wrapper .footer ul.after:after {
  clear: both;
}
.sticker.stk-hide {
  transition: left 1.1s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .sticker.stk-hide {
    left: -370px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticker.stk-hide {
    left: -320px;
  }
}
@media only screen and (max-width: 767px) {
  .sticker.stk-hide {
    left: -270px;
  }
}
.sticker.stk-show {
  left: 0px;
  transition: left 1.1s ease-in-out;
}
.social-container {
  position: absolute;
  width: 41px;
  display: block;
  top: 1%;
  right: -1px;
}
.social-container .social-nav {
  float: left;
  list-style: none;
  margin-bottom: 3px;
  width: 41px;
  height: 40px;
}
.social-container .social-icon-bg {
  color: #ffffff;
  float: left;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease-in-out;
}
.social-container .social-icon-bg:hover {
  width: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.social-container .social-icon-bg.active {
  width: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.social-container .social-icon-bg.bg-blue {
  background-color: #27A8E1;
  color: whitesmoke;
}
.social-container .social-icon-bg.bg-red {
  background-color: #DF2826;
  color: whitesmoke;
}
.social-container .social-icon-bg.bg-gray {
  background-color: #cecece;
  color: whitesmoke;
}
.social-container .social-icon-bg i {
  display: inline-block;
  line-height: 42px;
}
.btn.btn-transparent {
  border-radius: 10px;
  border: 1px solid #d9d7ac;
  background: transparent;
  color: #d9d7ac;
}
/*==================*/
/*navigation*/
.nb-header {
  width: 100%;
  background-color: #d9d7ac;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nb-header {
    min-height: 190px;
  }
}
@media only screen and (min-width: 992px) {
  .nb-header {
    min-height: 190px;
  }
}
@media only screen and (max-width: 767px) {
  .nb-header {
    min-height: 120px;
  }
}
.nb-header .nb-logo {
  width: 100%;
  height: 120px;
}
@media only screen and (max-width: 767px) {
  .nb-header .nb-logo {
    height: 80px;
  }
}
.nb-header .nb-navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background-color: #293845;
}
@media only screen and (max-width: 767px) {
  .nb-header .nb-navbar {
    display: none;
  }
}
.nb-header .nb-navbar ul {
  margin: 0;
  list-style: none;
}
.nb-header .nb-navbar ul li {
  float: left;
}
.nb-header .nb-navbar ul li a {
  display: block;
  padding: 12px 10px;
  text-decoration: none;
  color: #d9d7ac;
  height: 50px;
}
.nb-header .nb-navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: lightblue;
}
.nb-header .nb-navbar ul:after {
  clear: both;
  display: table;
}
.nb-header .btn-mobnav {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media only screen and (min-width: 992px) {
  .nb-header .btn-mobnav {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nb-header .btn-mobnav {
    display: none;
  }
}
/*=============*/
