
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


@import "parts/variable.less";

@body-bg-color: #8f8164; 
html { height:100%;}
body {
    height: 100%;
    background: @color-white;
    font-family: @font-family-tit;
}

label {
    font-size: @font-size-base;
}

/*sticker*/
@import "parts/sticker.less";
/*==================*/

/*navigation*/
@import "parts/navigation.less";
/*=============*/

/*slider*/
@import "parts/slider.less";
/*========================*/

/*location*/
@import "parts/location.less";
/*========================*/









