.nb-location {
    position:relative;
    width:100%;
    height: 650px;
        .location-wrapper {
            padding: @padding-base-vertical;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    .map-content {
                        border: 1px solid @gray-lighter;
                        width: 100%;
                        height: 210px;
                        background: @color-red;
                        margin-bottom: 5px;
                    }
                    border-bottom: 1px solid @gray-lighter;
                }
            }
        }
}
