.sticker {
  position: fixed;
  top: 10%;
  left: 0px;
  width: 360px;
  min-height: 450px;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.2);
}
.sticker .wrapper {
  background-color: #fff;
  position: relative;
}
.sticker .bookmark {
  position: absolute;
  right: 10%;
  top: 0;
}
.sticker .bookmark .blue-bookmark {
  background-color: lightblue;
  padding: 5px;
}
.sticker .st-container {
  height: 700px;
  overflow: scroll;
}
.sticker.stk-hide {
  left: -360px;
  transition: left 2s ease-in-out;
}
.sticker.stk-show {
  left: 0px;
  transition: left 2s ease-in-out;
}
.social-container {
  position: absolute;
  width: 41px;
  display: block;
  top: 0;
  right: 0px;
}
.social-container .social-nav {
  float: left;
  list-style: none;
  margin-bottom: 1px;
  width: 41px;
  height: 40px;
}
.social-container .social-icon-bg {
  color: #ffffff;
  float: left;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
}
.social-container .social-icon-bg.bg-blue {
  background-color: #27A8E1;
  color: whitesmoke;
}
.social-container .social-icon-bg.bg-red {
  background-color: #DF2826;
  color: whitesmoke;
}
.social-container .social-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: default;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -moz-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: -o-transform 1.1s ease-in-out;
  transition: -ms-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
}
.social-container .social-icon i {
  display: inline-block;
  line-height: 42px;
}
.social-container .social-icon:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: -moz-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: -o-transform 1.1s ease-in-out;
  transition: -ms-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
}
body {
  padding: 5px;
}
